* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Old Standard TT", serif;
    font-size: 20px;
}

body {
    line-height: 1.6;
    color: #e2c393;
    background-color: white;
}

.header {
    font-family: "Old Standard TT", serif;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    background: #000000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
}

.nav {
    flex: 1;
}

.header-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 150px;
}

.search-box button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.search-box button img {
    width: 18px;
    height: 18px;
}

.icon {
    position: relative;
}

.icon img {
    width: 24px;
    height: 24px;
}

.header .logo {
    font-size: 28px;
    font-weight: bold;
}

.header .logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

.header .nav ul {
    display: flex;
    list-style: none;
}

.header .nav ul li {
    margin: 0 15px;
}

.header .nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: color 0.3s;
}

.header .nav ul li a:hover {
    color: #c19b76;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}
/* Dropdown tổng */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #000000;
  display: none;
  flex-direction: column;
  padding: 20px 30px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  z-index: 999;
  width: auto;
  min-width: 300px;
}

.submenu {
position: absolute;
    top: -10px; 
    left: 95%; /* Quan trọng: Đặt ngay bên phải mục cha cấp 2 */
    display: flex; /* Dùng flexbox để sắp xếp ngang */
    flex-direction: column;
    min-width: 230px; /* Đặt chiều rộng tối thiểu cho submenu */
    width: auto;
    padding: 20px;
    background-color: black; 
    opacity: 0;
    visibility: hidden;
    /* Điều chỉnh top để nó ẩn khỏi tầm nhìn ban đầu nhưng vẫn cho phép transition */ 
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.submenu a {
    padding: 10px 15px; /* Điều chỉnh padding cho menu ngang */
    border-color: #eee; 
}

.menu-columns:hover > .submenu {
    display: block; /* Hiển thị dropdown */
    opacity: 1;
    visibility: visible;
    transform: translateY(0); 
}

.menu-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: column;
  padding-bottom: 20px;
}

/* Underline */
.underline-hover {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .underline-hover::after {
    content: "";
    position: absolute;
    bottom: -2px; 
    left: 0;
    height: 0.5px;
    width: 0;
    background-color: #e2c393; 
    transition: width 0.3s ease;
  }
  
  .underline-hover:hover::after {
    width: 100%;
  }  

/* Hover */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* Banner */
.banner {
  position: relative;
  overflow: hidden; /* ẩn ảnh trượt ra ngoài */
  width: 100%;
  height: 40vh;
}

.slider {
  display: flex;
  width: 100%; /* 3 ảnh */
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  flex-shrink: 0;
  display: block;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color:#ffffff;
    text-shadow: 4px 4px 9px rgba(0, 0, 0, 0.6);
}

.banner-text .btn {
    display: inline-block;
    background: rgb(247, 225, 201);
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.banner-text .btn:hover {
    transform: scale(1.05);
}

/* About */
.about {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    align-items: center;
    background: rgb(224,224,219);
    border: #ccc solid 1px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    gap: 20px;
    color:#000
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about-text span {
    font-weight: bold;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 20px;
    font-style: italic;
}

.about-text .btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.about-text .btn:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.about-img {
    flex: 1;
    text-align: center;
}

.about-img img {
    max-width: 60%;
}

/* Items */

.collection{
    color: #000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: auto;
    background: rgb(224,224,219);
    border: #ccc solid 1px;
    border-radius: 15px;
    margin: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.collection-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    gap: auto;
    min-gap: 20px;
}

.item {
    flex: 0 0 23%;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 20px;
}

.collection-img {
  width: 100%;
  max-width: 250px;
  height: auto;
  max-height: 250px;
  object-fit: contain;
}

.collection h2 {
    font-size: 40px;
    margin-bottom: 20px;
    padding: 20px;
    position: center;
}

.collection-item-title {
    font-family: "Old Standard TT", serif;
    font-style: regular;
    font-size: 20px;  
    color: #000000;  
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.collection-item-title:hover {
    color: #c19b76; 
}

/* Footer */
.footer {
    color: #000;
    background: #eee;
    padding: 30px 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-content h3 {
    color: #000000;
    margin-bottom: 15px;
}

.footer-content ul {
    list-style: none;
}

.footer-content ul li {
    margin-bottom: 10px;
}

.footer-content ul li a {
    text-decoration: none;
    color: #000000;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
}

.footer-content ul li a:hover {
    color: #c19b76;
}

@media (max-width: 800px) {
    .collection-item {
    flex-direction: column;
    }
    .header {
        flex-direction: row; /* Xếp header theo cột */
        padding: 15px 20px;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .header .logo {
        margin-bottom: 15px;
    }

    .nav {
        width: 100%; /* Menu chiếm toàn bộ chiều rộng */
        justify-content: flex-start; /* Căn trái menu */
        margin-bottom: 15px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .header .nav ul {
        width: 100%;
        flex-direction: row;
    }

    .header .nav ul li {
        margin: 5px 0;
        width: 100%;
        text-align: left;
    }

    .header-icons {
        width: 100%;
        justify-content: space-around; /* Căn đều các icon */
        margin-left: 0;
    }

    .search-box input {
        width: 95px; /* Thu nhỏ input search */
        padding: 6px 10px;
    }
    .search-box input:focus {
        width: 150px;
    }
    
    .footer-content {
        flex-direction: column; /* Footer xếp dọc */
        align-items: flex-start;
    }
}
    
